body {
		background-color: #000000;
	
}
#start{
    font-family: 'Poiret One', cursive;
    color:  #FFDA1B;
	font-size: 25pt;
	font-weight: bold;
	position: relative;
	visibility: visible;
	border: none;
	background-color: Transparent;
	cursor:pointer;
}
button:active {
	outline: none;
}
#button{
	z-index: 1000;
	position: absolute;
	margin-left: -120px;
	width: 1050px;
	height: 530px;
	text-align: center;
}
#picture, #background{
	position: absolute;
	margin-left: -100px;
	padding-left: 20%;
	width: 1050px;
	height: 530px;
}
canvas{

	position: absolute;
	margin-left: -20px;
	padding-left: 10%;
}
#background{
	z-index: 80;
}
#background > div{
	background-color:#C04982;
	width: 150px;
	height: 150px;
	float: left;
	border: 5px solid #000000;
}
#picture > div{
	float: left;
	height: 150px;
	width: 150px;
	border: 5px solid #000000;
}