<!-- 
Aufgabe: Aufgabe 0 - Arbeisfaehigkeit
Name: Salome Weißer
Matrikel: 254669
Datum: 19.03.2017
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
-->

#name {
	font-size: 12pt;
	color: #198E69;
}